colorspacious
ipython
ipywidgets
ipykernel
numpydoc>=1.0
packaging>=20
sphinxcontrib-video>=0.2.1
sphinx-copybutton
sphinx-design
sphinx-gallery[parallel]>=0.12.0
sphinx-tags>=0.4.0
sphinx
sphinx-book-theme
myst_parser
sphinx-proof
matplotlib
numpy
linkify-it-py
sphinx-accessibility
sphinx-tabs
sphinx-togglebutton
sphinxext-opengraph
sphinxcontrib-tikz